/* importation  des elements de Raleway pour la mise en forme*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
}

/*message bienvenue*/

.right_menu_top{
    display:flex !important;
    justify-content:space-between !important;
    
}

.navbar-nav{
    display:flex !important;
    flex-direction: row !important;
    
}
h2{
    color: orange;
    font-size: bold;
    
       
   
}
.a_welcome{
    margin-left: 50%;
    background-color: orange;
    text-decoration: none;
    border: 1px solid gray;
    
}

.hello{
    display: flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height: 275px;
    background-image: url("headerback.jpg");
    background-attachment:fixed;
    text-decoration: none;
    }

.hello_text{
    width:350px;
    height: 150px;
    text-decoration: none;

}


/*presentation*/
.about{
    display: flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height: 250px;
    background-color: antiquewhite;
    display: flex;
    padding-right: 10px;
    margin-right: 10px;
    justify-content:center;
    align-items:center;

}
.barre{
    height: 150px;
    border: 2px solid green;
 

}


.portfolio{
    display: flex;
    flex-direction:row; 
    align-items:center;
    background-color: aqua;
    display:grid;
    width:100%;
    height: 240px;
    border: 1px solid rgb(112, 94, 94);
    

    grid-template-areas: 
    "entete   entete    entete"
    "gauche1  milieu1   droite1"
    "gauche2  milieu2   droite2";  

}    

.entete{  display:grid; 
    grid-area: entete;
    align-items:center;
    width:100%;
    height: 20px;
   border: 1px solid white;
} 

.gauche1{  display:grid; 
    grid-area: gauche1;
    align-items:center;
    width:33%;
    height: 40px;
   border: 1px solid white;
} 
.gauche2{  display:grid; 
    grid-area: gauche2;
    align-items:center;
    width:33%;
    height: 40px;
   border: 1px solid white;
} 

.droite1{  display:grid; 
    grid-area: droite1;
    align-items:center;
    width:33%;
    height: 40px;
   border: 1px solid white;
} 

.droite2{  display:grid; 
    grid-area: droite2;
    align-items:center;
   height: 40px;
   width: 33%;
   border: 1px solid white;
} 

.milieu1{  display:grid; 
    grid-area: milieu1;
    align-items:center;
    width:33%;
    height: 40px;
   border: 1px solid white;
} 
.milieu2{  display:grid; 
    grid-area: milieu2;
    align-items:center;
    width:33%;
    height: 40px;
   border: 1px solid white;
} 